##  Recopilación de tweets

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

#Recopilacion de tweets mediante webscraping

query= 'TheBridge_Tech until:2022-05-24 since:2022-01-01'
tweets = []
limit = 5000


for tweet in sntwitter.TwitterSearchScraper(query).get_items():

    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.id, tweet.content, tweet.date,tweet.user.id, tweet.username,tweet.likeCount, tweet.retweetCount, tweet.replyCount, tweet.quoteCount])

df = pd.DataFrame(tweets, columns=['Tweet_ID','Tweet_Content', 'Date','User_ID', 'User', 'Likes', 'Retweets', 'Replies', 'quoteCount'])
print(df)
df.to_csv('Data/tweets.csv')

C:\Users\lopez\AppData\Local\Temp\ipykernel_27120\3403275052.py:18: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.id, tweet.content, tweet.date,tweet.user.id, tweet.username,tweet.likeCount, tweet.retweetCount, tweet.replyCount, tweet.quoteCount])

                Tweet_ID                                      Tweet_Content  \
0    1528696920729956352  Terminando el desafio de tripulaciones en @The...
1    1528650844094271490  "El libro de la inteligencia colectiva"  https...
2    1528647207594909696  Este jueves nos vemos en @TheBridge_Tech para ...
3    1528641426975760389  Conoce las 25 ofertas de #empleo de la empresa...
4    1528638307516694529  #LastMinute La 2da presentación del #LibroIC e...
..                   ...                                                ...
134  1483469787078533123  Del periodismo al marketing digital 🤸 esta es ...
135  1481340966866989063  Ciclo de Conferencias sobre Inteligencia Artif...
136  1480228635294449667  Me encantaría saber que les enseñan sobre esta...
137  1479787660910768132  @cbusquets Hola, @TheBridge_Tech te da la opci...
138  1478637395289378817  ¿Quieres formarte en una de las profesiones qu...

                         Date              User_ID            User  Likes  \
0   2022-05-23 11:18:42+00:00  1528649918306557952     nachooatm82      0
1   2022-05-23 08:15:36+00:00             41545659    nodosenlared      6
2   2022-05-23 08:01:09+00:00              4628161          tiscar      1
3   2022-05-23 07:38:11+00:00            987388686  juanluispavon1      7
4   2022-05-23 07:25:47+00:00             15993641            arey      4
..                        ...                  ...             ...    ...
134 2022-01-18 16:02:13+00:00  1162694149956603904  TheBridge_Tech      0
135 2022-01-12 19:03:03+00:00             41545659    nodosenlared      6
136 2022-01-09 17:23:02+00:00            183583012  ing_titiritero      0
137 2022-01-08 12:10:46+00:00             10045342       cmarchena      4
138 2022-01-05 08:00:01+00:00   966573471663828992   pymesmagazine      3

     Retweets  Replies  quoteCount
0           0        0           0
1           3        0           0
2           0        0           1
3           3        0           0
4           2        0           1
..        ...      ...         ...
134         0        0           0
135         1        0           0
136         0        0           0
137         0        0           0
138         0        0           0

[139 rows x 9 columns]

In [3]:
tweets = pd.read_csv('Data/tweets.csv', index_col=0)
print(tweets.shape)
tweets.head()

(139, 9)

,Tweet_ID,Tweet_Content,Date,User_ID,User,Likes,Retweets,Replies,quoteCount
0,1528696920729956352,Terminando el desafio de tripulaciones en @The...,2022-05-23 11:18:42+00:00,1528649918306557952,nachooatm82,0,0,0,0
1,1528650844094271490,"""El libro de la inteligencia colectiva"" https...",2022-05-23 08:15:36+00:00,41545659,nodosenlared,6,3,0,0
2,1528647207594909696,Este jueves nos vemos en @TheBridge_Tech para ...,2022-05-23 08:01:09+00:00,4628161,tiscar,1,0,0,1
3,1528641426975760389,Conoce las 25 ofertas de #empleo de la empresa...,2022-05-23 07:38:11+00:00,987388686,juanluispavon1,7,3,0,0
4,1528638307516694529,#LastMinute La 2da presentación del #LibroIC e...,2022-05-23 07:25:47+00:00,15993641,arey,4,2,0,1

#### Tweet con mayor repercusion social

In [4]:
#Creamos una calumna de relevancia
tweets['Relevancia'] = tweets['Likes'] + tweets['Retweets']*2 + tweets['Replies']*3 + tweets['quoteCount']

#Elegimos la columna con un valor mas alto en relevancia
tweets.sort_values(by=["Relevancia"], ascending=False).head(1)

,Tweet_ID,Tweet_Content,Date,User_ID,User,Likes,Retweets,Replies,quoteCount,Relevancia
62,1513848281801056258,"De los 21, hay 7 desarrolladoras de @Adalab_Di...",2022-04-12 11:55:30+00:00,1609031,manufosela,12,3,3,0,27

#### Usuario que mas menciona a la escuela

In [5]:
#Agrupo por usuario para ver cual ha posteado más
repeticiones = tweets.groupby('User_ID').count()

#Ordeno la columna de mayor a menor para obtener el usuario con mayor numero de repeticiones
repeticiones.sort_values(by=["Tweet_ID"], ascending=False)
tweets[tweets['User_ID'] == 1162694149956603904][["User"]].head(1)

             User
5  TheBridge_Tech

In [6]:
#Si eliminamos el cliente, el usuario que más menciona a la escuela es @MujeresaSeguir
tweets["User"].value_counts()

TheBridge_Tech    53
MujeresaSeguir     7
bertinha84         5
FUniversia         3
nodosenlared       3
                  ..
alinnfm            1
marcosDLCS         1
CodenotchMAD       1
beajmnz            1
pymesmagazine      1
Name: User, Length: 62, dtype: int64

In [7]:
tweets["Date"]

0      2022-05-23 11:18:42+00:00
1      2022-05-23 08:15:36+00:00
2      2022-05-23 08:01:09+00:00
3      2022-05-23 07:38:11+00:00
4      2022-05-23 07:25:47+00:00
                 ...
134    2022-01-18 16:02:13+00:00
135    2022-01-12 19:03:03+00:00
136    2022-01-09 17:23:02+00:00
137    2022-01-08 12:10:46+00:00
138    2022-01-05 08:00:01+00:00
Name: Date, Length: 139, dtype: object

#### Mes con más concentracion de tweets

In [8]:
tweets["Date"] = pd.to_datetime(tweets["Date"], format="%Y/%m/%d")

In [9]:
#Cambio el formato de la columna Date
tweets["Date"] = pd.to_datetime(tweets["Date"], format="%Y/%m/%d")

#Creo una nueva columna con el mes en el que se lanzó el tweet
tweets["Month"] = tweets["Date"].dt.strftime('%m')
tweets["Month"].value_counts()

#El mes que más activo fue Abril con 49 tweets

04    49
03    27
05    23
02    23
01    17
Name: Month, dtype: int64

# Aplicacion del modelo

In [10]:
import pickle
with open('Data/finished_model.model', "rb") as archivo_entrada:
    model = pickle.load(archivo_entrada);

c:\Users\lopez\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator CountVectorizer from version 1.0.2 when using version 1.1.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\lopez\AppData\Local\Temp\ipykernel_27120\2503681937.py:3: DeprecationWarning: Please use `csr_matrix` from the `scipy.sparse` namespace, the `scipy.sparse.csr` namespace is deprecated.
  model = pickle.load(archivo_entrada);
c:\Users\lopez\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator SVC from version 1.0.2 when using version 1.1.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\lopez\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator Pipeline from version 1.0.2 when using version 1.1.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [12]:
import re
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer


def signs_tweets(tweet):
    signos = re.compile("(\.)|(\;)|(\:)|(\!)|(\?)|(\¿)|(\@)|(\,)|(\")|(\()|(\))|(\[)|(\])|(\d+)(#)")
    return signos.sub(' ', tweet.lower())


def remove_stopwords(df):
    spanish_stopwords = stopwords.words('spanish')
    return " ".join([word for word in df.split() if word not in spanish_stopwords])


def spanish_stemmer(x):
    stemmer = SnowballStemmer('spanish')
    return " ".join([stemmer.stem(word) for word in x.split()])

tweets['Tweet_Content'] = tweets['Tweet_Content'].apply(signs_tweets)
#tweets['Tweet_Content'] = tweets['Tweet_Content'].apply(remove_stopwords)
tweets['Tweet_Content'] = tweets['Tweet_Content'].apply(spanish_stemmer)
tweets

,Tweet_ID,Tweet_Content,Date,User_ID,User,Likes,Retweets,Replies,quoteCount,Relevancia,Month
0,1528696920729956352,termin el desafi de tripul en thebridge_tech,2022-05-23 11:18:42+00:00,1528649918306557952,nachooatm82,0,0,0,0,0,05
1,1528650844094271490,el libr de la inteligent colect https //t co/t...,2022-05-23 08:15:36+00:00,41545659,nodosenlared,6,3,0,0,12,05
2,1528647207594909696,este juev nos vem en thebridge_tech par habl s...,2022-05-23 08:01:09+00:00,4628161,tiscar,1,0,0,1,2,05
3,1528641426975760389,conoc las 25 ofert de #emple de la empres sevi...,2022-05-23 07:38:11+00:00,987388686,juanluispavon1,7,3,0,0,13,05
4,1528638307516694529,#lastminut la 2da present del #libroic en #mad...,2022-05-23 07:25:47+00:00,15993641,arey,4,2,0,1,9,05
...,...,...,...,...,...,...,...,...,...,...,...
134,1483469787078533123,del period al marketing digital 🤸 esta es la h...,2022-01-18 16:02:13+00:00,1162694149956603904,TheBridge_Tech,0,0,0,0,0,01
135,1481340966866989063,cicl de conferent sobr inteligent artificial r...,2022-01-12 19:03:03+00:00,41545659,nodosenlared,6,1,0,0,8,01
136,1480228635294449667,me encant sab que les enseñ sobr estadist en e...,2022-01-09 17:23:02+00:00,183583012,ing_titiritero,0,0,0,0,0,01
137,1479787660910768132,cbusquets hol thebridge_tech te da la opcion d...,2022-01-08 12:10:46+00:00,10045342,cmarchena,4,0,0,0,4,01
138,1478637395289378817,quier formart en una de las profesion que mas ...,2022-01-05 08:00:01+00:00,966573471663828992,pymesmagazine,3,0,0,0,3,01

In [19]:
# Me guardo los tres comentarios con más relevancia
best3 = tweets.sort_values(by=["Relevancia"], ascending=False).head(3)
best3

,Tweet_ID,Tweet_Content,Date,User_ID,User,Likes,Retweets,Replies,quoteCount,Relevancia,Month
62,1513848281801056258,de los 21 hay 7 desarroll de adalab_digital 4 ...,2022-04-12 11:55:30+00:00,1609031,manufosela,12,3,3,0,27,04
60,1515933948001632256,hoy empiez en un ratit mi camin en el ux/ui de...,2022-04-18 06:03:12+00:00,604485175,bertinha84,6,1,5,1,24,04
8,1526842834741039105,com combat el par juvenil🥵 #tipdeldi en un pai...,2022-05-18 08:31:13+00:00,1336771626306854912,Bcasapp,8,4,1,0,19,05

In [21]:
predictions = model.predict(best3['Tweet_Content'])
best3['Polarity'] = (predictions)
best3

,Tweet_ID,Tweet_Content,Date,User_ID,User,Likes,Retweets,Replies,quoteCount,Relevancia,Month,Polarity
62,1513848281801056258,de los 21 hay 7 desarroll de adalab_digital 4 ...,2022-04-12 11:55:30+00:00,1609031,manufosela,12,3,3,0,27,04,1
60,1515933948001632256,hoy empiez en un ratit mi camin en el ux/ui de...,2022-04-18 06:03:12+00:00,604485175,bertinha84,6,1,5,1,24,04,0
8,1526842834741039105,com combat el par juvenil🥵 #tipdeldi en un pai...,2022-05-18 08:31:13+00:00,1336771626306854912,Bcasapp,8,4,1,0,19,05,1

Los resultados con Polarity 0 son positivos y los resultados polarity 1 negativos

#### Mejora del modelo
Es un modelo muy sencillo. En este caso mejoraria haciendo una mejor limpieza de los tweets y mejorar los scores del modelo.
También se podria busacr otro modelo diferente y comparar resultados.

In [31]:
texto = 'me ha gustado la experiencia en the bridge, repetiria sin pensarlo'
signs_tweets(texto)
remove_stopwords(texto)
spanish_stemmer(texto)

'me ha gust la experient en the bridge, repetiri sin pens'

In [33]:
predictions = model.predict([texto])[0]
predictions

1

#### Otras oportunidades
Analisis de sentimiento para temas electorales.

Intenciones de voto.

Ver si una campaña publicitaria en concreto está teniendo impacto positivo o negativo.